# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Environment files
# =========================

.env
.env.*
!.env.example

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Temporary files
# =========================

*.tmp
*.swp
*.swo
*.log


# =========================
# AI Agents
# =========================
.agent/
.agent/*
.agent/**
.agent/**/**
.agent/**/**/**
.agent/skills/