# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# =========================
# Django
# =========================

*.log
db.sqlite3
db.sqlite3-journal

# Media uploaded by users
media/

# Collected static files
staticfiles/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example
!.env.production.example

# =========================
# Testing / Coverage
# =========================

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# =========================
# Type checking / Linters
# =========================

.mypy_cache/
.pyright/
.pyrefly/

# =========================
# Django tooling
# =========================

*.pot

# =========================
# IDEs
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Local development
# =========================

*.pid
*.seed



venv/
__pycache__/
*.py[cod]

staticfiles/
media/